<div class="container">
  <h1>Cocktails</h1>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <% @cocktails.each do |cocktail| %>
        <div class="d-flex">
          <div>
            <%= link_to toggle_favorite_cocktail_path(cocktail), remote: true, method: :post do %>
              <%= render 'cocktails/like_button', cocktail: cocktail %>
            <% end %>
          </div>
          <div>
            <h3><%= cocktail.name %></h3>
            <p><%= cocktail.preparation %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h3>Liked Cocktails</h3>
      <div class="favorites">
        <% @favorite_cocktails.each do |cocktail| %>
          <%= render 'cocktail', cocktail: cocktail %>
        <% end %>
      </div>
    </div>
  </div>
</div>